body{
    color: $comp-accent-color !important;
    background: $accent-color !important;

    :not(a){
        color: inherit !important;
    }

    section.main-section{
        margin-top : 56px;
    }
}